p, li{
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color:rgb(61, 61, 61);
}


a{
    color:rgb(1, 107, 194);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:blueviolet;
}
.wishlist{
  width:50%;
  background-color:rgb(248, 185, 127);
  text-align: center;
  margin: auto;
}

body{
    background-color: rgb(126, 114, 188);
}


img{
  width: auto;
  max-width: 80%;
}